/* Global */

* {
	padding:0;
	margin:0;
}

:root{
	--facebookblue:#4267b2;
	--twitterlogo:#00aced;
	--lightblue:#c0deed;
	--sunflower:#ffce1b;
	--orangered:#FF4500;
	--magenta:#ff00ff;
	--lime:#32CD32;
	--palegreen:#98fb98;
	--dark-red:#590000;
	--blood-red:#8B0000;
	--cyan:#00ffff;
	--bluegreen:#21c36f;
	--canvas:#F3ECE2;
	--dark-purple:#551A8B;
	--dark-blue:#313d4b;

	/*	Blue-Orangered	*/
	/*--primary-color:#FF4500;
	--secondary-color:#778899;
	--contrast:	#56a79a;
	--secondary-contrast:#926239;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#888888;*/

	/* Magenta-Cyan*/ 
	/*--primary-color:#ff00ff;
	--secondary-color:#ff69b4;
	--contrast:	#00ffff;
	--secondary-contrast:#ADD8E6;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#999;
	*/
	/*Facebook-like*/
	/*--primary-color:#fff;
	--secondary-color:#fff;
	--contrast:	#fff;
	--secondary-contrast:#fff;
	--light-color:#fff;
	--dark-color:#4267b2;
	--gray:#fff;
	--darkgray:#4267b2;*/

	/*	Magenta-Lime */	
	/*--primary-color:#ff00ff;
	--secondary-color:#ff69b4;
	--contrast:	#32CD32;
	--secondary-contrast:#98fb98;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#888888;*/
	
	/*Lime-Orangered*/
	/*--primary-color:#FF4500;
	--secondary-color:#FFAE42;
	--contrast:	#32CD32;
	--secondary-contrast:#98fb98;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#999;*/

	/*Bluegreen-brown*/
	--primary-color:#21c36f;
	--secondary-color:#c0deed;
	--contrast:	#91684a;
	--secondary-contrast:#313d4b;
	--light-color:#fafafa;
	--dark-color:#222;
	--gray:#eee;
	--darkgray:#999;
}

body{
	font-family: Lora,'MS Sans Serif',Geneva,sans-serif;
	font-size: 17px;
	background:var(--light-color);
}
h1,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.black{
	color:var(--dark-color);
	text-decoration: underline;
}

.white{
	color:var(--light-color);
	text-decoration: underline;
}

.center{
	text-align: center;
}

.close-heading{
	background: var(--primary-color);
	text-align: center;
	padding:2px 0;
	color: var(--light-color);
	cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--darkgray); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkgray); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-contrast); 
}

.main-container{
	display:grid;
	grid-template-areas:
	"header"
	"main-search"
	"content"
	"footer";
	margin:0px;
	padding:0 15px 0 15px;
}

.container{
	padding:0 5px 0 5px;
}

/* Spinners */
.spinner:before{
	content: "";
	box-sizing: border-box;
	position: fixed;
	z-index: 2000;
	top: 20%;
	left: 50%;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: var(--primary-color);
	border-bottom-color: var(--secondary-contrast);
	animation: spinner 0.7s ease infinite;
}


@keyframes spinner {
	to{
		transform:rotate(360deg);
	}
}

/* Subheader*/
.subheader{
	z-index: 1000;
	position:fixed;
	top:0;
	grid-area:subheader;
	width:100%;
	padding-bottom: 4px;
	background: var(--dark-color);
	color: var(--light-color);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.subgrid{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "svg profile"
}

.open-slide{
	grid-area: svg;
	padding: 5px;
	font-size: 30px;
	color: var(--light-color);
}

.fa-bars{
	transition-duration: 350ms;
	transition-property: transform;
}

.rotate-slide{
	transform:rotate(180deg);
}

#how-to{
	padding: 0.5em;
	background: var(--secondary-contrast);
	font-size: 1.2em;
	color: var(--light-color);
}

.profile-grid{
	grid-area: profile;
	grid-column-start: right;
	padding: 8px;
}

.profile-grid i{
	font-size:20px;
}

.subheader p svg{
	padding-left: 10px
}

.subheader p path{
	stroke:var(--light-color);
}

.subheader p:hover{
	cursor: pointer;
}

.button{
	padding: 2px 5px;
	color: var(--light-color);
	border:0;
	margin-right: 4px;
	text-align: center;
	cursor:pointer;
}

.top-tn{
	height:30px;
	width:30px;
	border-radius: 50%;
	overflow:hidden;
	float:right;
}

.top-tn img{
	max-width: 100%
}

#notifdrop{
	display:none;
	z-index: 200;
	position:absolute;
	right:16px;
	top:42px;
	max-height:320px;
	width:320px;
	background: var(--gray);
	border: 1px solid var(--darkgray);
	color:var(--dark-color);
	overflow-y:auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	animation-name:modalopen;
	animation-duration: 350ms;
}

#modal3{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

#notifdrop li{
	color:var(--dark-color);
	padding:5px;
	border:1px solid var(--darkgray);
	line-height: 2rem;
	overflow:hidden;
}

#notiflist li{
	color:var(--dark-color);
	padding:5px;
	border:1px solid var(--darkgray);
	line-height: 3rem;
	overflow:hidden;
}

.n1,#seeallnotif{
	color:var(--primary-color);
}

.n2{
	color:var(--dark-color);
}

#notifnum,#pmnum{
	display: none;
	background: red;
	padding:0 4px;
	border-radius: 50%;
	color: var(--light-color);
}

/* Header */
#main-header{
	grid-area:header;
	margin-top: 44px;
	border: 1px solid var(--darkgray);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin-bottom: 5px;
}

#highlight-text,#first-text{
	color:var(--primary-color);
}

#second-text{
	color:var(--contrast);
	font-family: "Courier New", Courier, monospace;
	font-size: 24px;
}

#first-text,#second-text{
	display: inline;
}


#header-text a{
	color:var(--light-color);
}

.grid-header{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "title login";
	align-items:center;
	padding: 10px 0;
}

.box1{
	grid-area:title;
}

.logo{
	float: left;
	width: 60px;
	height: 60px;
}

.logo img{
	max-width: 100%;
}

.box2{
	grid-area:login;
	grid-column-start: right;
	padding-right: 2px;
}

#header-text{
	padding-left:10px;
}

.box2 select{
	height: 30px;
	border-radius: 3px;
}

.box2 input[type='text']{
	height: 30px;
	width: 200px;
	border-radius: 3px;
}

#search-dropdown{
	z-index: 200;
	display:none;
	position:absolute;
	right:16px;
	top:110px;
	height:320px;
	width:300px;
	background: var(--gray);
	color: var(--dark-color);
	overflow-y: auto;
	border: 1px solid var(--dark-color);
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); 
	animation-name:modalopen;
	animation-duration: 250ms;
	transition-timing-function: ease-in-out;
}

.modal2{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

.drop-ul li{
	padding: 4px 2px;
	overflow:hidden;
	color:var(--dark-color);
	border-bottom: 1px solid var(--darkgray);
}

.drop-ul li a{
	color:var(--dark-color);
}

.drop-ul2 li{
	padding: 10px 2px;
	overflow:hidden;
}

.drop-ul li:hover,.drop-ul2 li:hover{
	background: #bfbfbf;
}

.drop-ul2 a{
	font-size: 25px;
	color:var(--dark-color);
}

.drop-ul li small{
	font-style: italic;
}

.drop-tn{
	height:75px;
	width:75px;
	overflow:hidden;
	float:left;
	margin-right: 5px;
}

.drop-tn img{
	max-width:100%;
}	


/* Side Nav*/
.side-nav{
	height:100%;
	width:0;
	position:fixed;
	z-index:200;
	top:0;
	left:0;
	background-color:var(--dark-color);
	opacity:0.9;
	overflow-x:hidden;
	padding-top:60px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition-duration: 350ms;
	transition-property: width;
	transition-timing-function: ease-in-out;
}

#sidebarmodal{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

.side-nav a{
	padding:10px 10px 10px 30px;
	font-size:22px;
	color:var(--light-color);
	display:block;
	transition:0.3s;
}

.side-nav a:hover{
	color:var(--primary-color);
}

.side-nav .btn-close{
	color:var(--light-color);
	position:absolute;
	top:0;
	right:22px;
	font-size:36px;
	margin-left:50px;
}

.side-nav .btn-close:hover{
	color:var(--primary-color);
	cursor: pointer;
}

/* main-search */
.main-search{
	grid-area:main-search;
	padding:10px;
	box-sizing: border-box;
}

#browse-category{
	padding:20px 10px;
	width: 15%;
	background: var(--lime);
	color: var(--light-color);
	text-align: center;
	margin-left: 10px;
	float:left;
	border: var(--darkgray);
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 8px;
}

#category-slide{
	display: none;
	position:fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	background: var(--light-color);
	overflow: auto;
	height:100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	animation-name:modalopen;
	animation-duration: 500ms;
}

#category-slide p{
	font-size: 20px;
	line-height: 1.5em;
	cursor: pointer;
}

#category-slide p:hover{
	background: var(--darkgray);
	color: var(--light-color);
}

#category-modal{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

#main-search-form{
	text-align: center;
}

#main-search-form input[type="text"]{
	width: 55%;
	height: 45px;
}

#main-search-form select{
	height: 45px;	
}

#main-search-modal{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

#main-search-panel{
	display: none;
	z-index: 200;
	position: absolute;
	top: 193px;
	left: 268px;
	width: 560px;
	height: 350px;
	background: var(--gray);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	overflow: auto;
}

#main-search-panel .sch-tn{
	height: 65px;
	width: 65px;
}

#main-search-panel ul li{
	color: var(--dark-color);
	line-height: 1.5em;
	font-size: 1.2em;
	margin: 2px;
	padding: 10px 5px;
	border-bottom: 1px solid var(--darkgray);
}

#main-search-panel ul li:hover{
	background: var(--primary-color);
	color: var(--light-color);
}

/* Login */

.modal{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	color:var(--dark-color);
	font-weight: bold;
}

.modal-content{
	background-color:var(--light-color);
	margin:10% auto;
	padding:0;
	width:30%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); 
	animation-name:modalopen;
	animation-duration: 1000ms;
}

.modal-header{
	background:var(--dark-color);
	padding:15px;
	color:var(--light-color);
	border-bottom: 2px solid var(--darkgray);
}

.modal-header h2{
	margin:0;
}

.modal-body{
	padding:10px 20px;
}

.modal input[type='text'],.modal input[type='password']{
	border-radius: 3px;
	height: 30px;
	margin: 10px;
	width: 80%;
}
.modal input[type='checkbox'],.edit-form input[type='checkbox']{
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-left: 20px;
	margin-top: 10px;
}

.modal label{
	font-size: 12px;
	font-style: ;
}

.modal .modal-button{
	background: var(--darkgray);
	padding:1em 1em;
	color:var(--light-color);
	margin-right: 4px;
	border-radius: 8px;
	margin-top: 5px;
}

.modal .modal-button:hover{
	background:var(--primary-color);
}

.modal-footer{
	background:var(--secondary-contrast);
	padding:10px;
	text-align:center;
	border-top: 2px solid var(--darkgray);
}

.modal-footer a{
	text-decoration: underline;
	color:var(--light-color);
	font-size: 14px;
}

#closeBtn{
	color:#fff;
	float:right;
	font-size:30px;
}

#closeBtn:hover,.closeBtn:focus{
	color:var(--cyan);
	cursor:pointer;
}

@keyframes modalopen{
	from{opacity:0}
	to {opacity:1};
}

/* Index Content */
.main-content-grid{
	grid-area:content;
	display:grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
	"advertisement announcement"
	"main main";
}

.announcement{
	grid-area:announcement;
	text-align: center;
	background: var(--light-color);
	margin: 20px 5px 20px 5px;
	display: block;
	padding:10px;
	min-height: 240px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#announcement-title{
	font-family: "Arial", sans-serif;
}

.announcement a{
	background: linear-gradient(to right, red , var(--dark-color));
	color: var(--light-color);
	padding: 2px 5px;
	font-weight: bold;
}

#announcement-comment{
	background: var(--light-color);
	color: var(--dark-color);
	padding: 0;
	margin: 5px;
	text-decoration: underline;
}

.announce-content{
	font-family: verdana, sans-serif;
	background: var(--light-color);
	display: block;
	margin: 0 auto;
	width: 95%;
	min-height: 100px;
	border-top: 1px solid var(--darkgray);
	border-bottom: 1px solid var(--darkgray);
	padding:5px;
	line-height: 1.2em;
}

#announcement-text{
	width:95%;
	height:100px;
}

.button-control{
	text-align: center;
	margin: 2px auto;
	cursor: pointer;
	width: 50px;
	font-size: 0.6em;
	padding: 1em;
	background: var(--dark-color);
	color: var(--light-color);
}

.advertisement{
	grid-area:advertisement;
}

.advertisement::before{
	content:'Farm to Family';
	font-size: 20px;
	padding: 0 15px;
}

.advertisement-inner{
	border: 1px solid var(--darkgray);
	color: var(--light-color);
	height: 50vh;
	width: 95%;
	text-align: center;
	margin:10px;
	overflow:hidden;
}

.advertisement-inner img{
	margin:auto;
	max-width: 100%;
	max-height: 100%;
}

.content-body{
	grid-area: main;
	padding:10px;
	background: var(--light-color);
	border: 1px solid var(--darkgray);
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.content-body h2{
	padding: 2px;
	margin: 2px;
	font-size: 1.2em;
	border-top: 1px solid var(--darkgray);
	border-bottom: 1px solid var(--darkgray);
}

.content-body a{
	color: var(--dark-color);
}

.product{
	min-height: 300px;
	width: 220px;
	margin: 10px;
	color:var(--light-color);
	display: inline-block;
	background: var(--light-color);
	border: 1px solid var(--darkgray);
	transition-duration: 250ms;
	transition-property: box-shadow;
	transition-timing-function: ease-in-out;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.product:hover{
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0,0,0,0.75);
}

.product-img-wrap{
	padding: 10px 0;
	margin: 0 auto;
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.product-img-wrap img{
	max-width:100%; 
	max-height: 100%;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-title{
	font-weight: bold;
	color: var(--dark-color);
	font-family: verdana, sans-serif;
	margin-bottom: 2px;
}

.product-content{
	padding: 5px 10px;
	background: var(--primary-color);
	color: var(--light-color);
}

.product-content a{
	color: var(--light-color);
}

.product-desc{
	font-size: 0.8em;
}

.product-price{
	font-family: "Courier New", Courier, monospace;
	color: var(--secondary-contrast);
	font-weight: bold;
}

.tab-control a{
	padding:5px 10px;
	border: 1px solid var(--dark-color);
	font-weight: bold;
	margin: 5px;
	cursor: pointer;
}

.style-tab{
	background: var(--primary-color);
	color: var(--light-color);
}

/* Content from other pages */

.other-content{
	box-sizing: border-box;
	border-radius: 8px;
	padding:5px;
	background: var(--gray);
	min-height:85vh;
	position: relative;
}

.other-content h1{
	float:center;
	font-size: 25px;
}

.other-content h2,.other-content h3{
	text-align: center;
	margin-top: 5px;
}

/* Forms */
.form{
	margin-left: auto;
    margin-right: auto;
}

.form form{
	width:50%;
	background:var(--darkgray);
	padding:20px;
	border-radius: 8px;
    border: 1px solid var(--light-color);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.notice{
	margin: 5px;
	color: red;
	font-family: Florence, cursive;
	font-size: 1em;
}

.edit-form p{
	font-size: 15px;
}

.form form input[type="text"],.form form input[type="number"], .form form input[type="email"], .form form input[type="password"],.form form input[type="date"], .edit-form form input[type="text"], .edit-form form input[type="number"], .edit-form form input[type="email"], .edit-form form input[type="password"], .edit-form input[type="date"]{
	width:80%;
	height:30px;
	margin-bottom:10px;
}

.form form textarea, .edit-form form textarea{
	width:80%;
	height:60px;
}

.form form button, .edit-form form button{
	width:50%;
	padding:10px 0;
	border:0;
	background:#222;
	color:#fff;
	cursor: pointer;
}

.edit-form input[type="file"]{
	height:30px;
}


.edit-form select{
	height:30px;
	width:80%;
}

.edit-form input[type="submit"]{
	height:30px;
	width:60px;
}

.edit-form{
	background:var(--darkgray) ;
	color: var(--dark-color);
	width:50%;
	display:block;
	margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px 20px;
    border-radius: 8px;
    border: 1px solid var(--light-color);
    text-align:center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#edit-bio{
	height: 200px;
}

.contact form label{
	text-transform: 
}

.box-reg1{
	grid-area: leftbox;
}

.box-reg2{
	grid-area: rightbox;
}

#gender-box{
	background: var(--gray);
	color: var(--dark-color);
	margin: 5px 0 5px 0;
	padding:10px -50px 10px -50px;
}

#error-message,#error-message2,#error-message3,#error-message4,#error-message5{
	text-align: center;
	line-height: 1.5em;
	grid-area: error;
	width:100%;
	padding:0;
	margin-top:4px;
	background:red;
	color:var(--light-color);
}

#error-message li, #error-message2 li{
	padding: 2px 0;
}

#thanks-message{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 175px;
	text-align: center;
	top: 50%;
}

#thanks-message a{
	color:var(--primary-color);
	text-decoration: underline;
}

/* Movie Page */
.movie-container{
	box-sizing: border-box;
	padding:5px;
	background: var(--darkgray);
	color: var(--light-color);
	min-height:70vh;
}

.movie-container h1{
	float:center;
	font-size: 25px;
}

/* Profile */
.user-grid{
	display:grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
	"left-grid right-grid"
	"comment-grid comment-grid";
	border:1px solid var(--dark-color);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	background: var(--gray);
}

.left-grid{
	grid-area: left-grid;
	border-right: 1px solid var(--dark-color);
	background:var(--light-color);
	color:var(--dark-color);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.left-grid h1{
	font-size: 20px;
}

.profile-pic-wrap{
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50%;
	height:250px;
	width: 250px;
	background: var(--secondary-color);
	border:1px solid var(--dark-color);
	overflow:hidden;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.profile-pic-wrap img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}

.user-header{
	text-align: center;
	border-bottom:1px solid var(--darkgray);
}

.online{
	display: inline-block;
	padding:5px;
	margin-right: 2px;
	border-radius: 50%;
	border:1px solid var(--darkcolor);
	background: green;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.offline{
	display: inline-block;
	padding:5px;
	margin-right: 2px;
	border-radius: 50%;
	border:1px solid var(--light-color);
	background: var(--darkgray);
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#user-default{
	padding: 5px;
	background: linear-gradient(to right,var(--lime),var(--primary-color));
	color:var(--light-color);
	border-radius: 12px;
	margin: 10px 35px 10px 35px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#user-bot{
	padding: 5px;
	background: linear-gradient(to right, var(--darkgray) , var(--lightblue));
	color:var(--light-color);
	border-radius: 12px;
	margin: 10px 35px 10px 35px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#user-seller{
	padding: 5px;
	background: linear-gradient(to right, coral,var(--orangered));
	color:var(--light-color);
	border-radius: 12px;
	margin: 10px 35px 10px 35px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#user-siteadmin{
	padding: 5px;
	background: linear-gradient(to right, red , var(--dark-color));
	color:var(--light-color);
	border-radius: 12px;
	margin: 10px 35px 10px 35px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Friends */

.friends{
	min-height: 100px;
	border-bottom:1px solid var(--darkgray);
	text-align: center;
}

#fr-btn,#rmv-fr{
	cursor: pointer;
}

.fr-yes{
	cursor: pointer;
	padding: 2px 10px;
	border-radius: 20%;
	border: 1px solid var(--dark-color);
	margin-right: 10px;
	margin-left: 5px;
	background: var(--primary-color);
	color:var(--light-color);
}


.fr-no{
	padding: 2px 10px;
	border-radius: 20%;
	border: 1px solid var(--dark-color);
	cursor: pointer;
	color: blue;
	background: var(--secondary-contrast);
	color:var(--light-color);
}

.friends-tn{
	display: inline-block;
	margin:3px 2px;
	height:60px;
	width:60px;
	overflow:hidden;
	border-radius: 50%;
	border: 1px solid var(--darkgray);
	transition-duration: 250ms;
	transition-property: opacity;
	transition-timing-function: ease-in;
}

.friends-tn:hover{
	opacity: 0.5;
}

.friends-tn img{
	max-width: 100%;
}


#showallfr:hover{
	color:var(--dark-color);
}

.wrap-center{
  	text-align:center;
}

.fr-div{
	display: inline-block;
	border-radius: 10%;
	margin:5px 3px;
	background: linear-gradient(to right, var(--secondary-contrast) , var(--primary-color));
	color: var(--light-color);
	padding:10px;
	border: 1px solid var(--light-color);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	text-align: center;
}

.fr-div a{
	color:var(--dark-color);
	font-weight: bold;
}

.fr-div:hover{
	background: linear-gradient(to right, var(--primary-color) , var(--secondary-contrast));
}

.showfr-tn{
	display: block;
	background: var(--light-color);
	margin: 0 auto;
	height:125px;
	width:125px;
	border-radius: 50%;
	overflow:hidden;
	border: 1px solid var(--light-color);
}

.showfr-tn img{
	max-width: 100%;
}

.btp{
	color:var(--dark-color);
	font-size: 20px;
	text-decoration: underline;
}

/* Other Left Grid Profile */
.dashboard{
	padding:5px;
}

.left-grid h3{
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
}

.left-grid a{
	color:var(--dark-color);
	cursor: pointer;
}

.left-grid a:hover{
	color:rgba(0,0,0,0.5);
}

.left-grid li{
	border-bottom:1px solid var(--darkgray);
	padding:5px;
}

#profilestats{
	margin-top: 5px;
	color:var(--dark-color);
	line-height: 1.5em;
}

/* Right Grid Profile*/

.right-grid{
	grid-area: right-grid;
	padding:5px;
	color:var(--dark-color);
}

.right-grid h1{
	font-size: 25px;
}

.right-grid li{
	border-bottom:1px solid var(--dark-color);
	padding:2px;
}

.biography{
	min-height: 200px;
	padding:5px;
	border-bottom:1px solid var(--darkgray);
	line-height: 1.5em;
}

.biography p{
	padding-top: 2px;
	padding-left: 5px;
}

/* Profile comments */

.comment-grid{
	grid-area: comment-grid;
}

#profile-comments{
	min-height: 200px;
	padding:5px;
	border-top:1px solid var(--darkgray);
}

#allcom{
	color:var(--dark-color);
	text-decoration: underline;
}

#profile-comments textarea{
	width:90%;
	height:125px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	border-radius: 5px;
}

#profile-comments input[type='submit'],.comment-delete{
	height: 25px;
	width: 50px;
	border:0;
	background: var(--darkgray);
	color:var(--light-color);
	cursor: pointer;
}

#profile-comments input[type='submit']:hover,.comment-delete:hover{
	background: var(--primary-color);
}

#comment-submit{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border:0;
	height: 30px;
	width: 60px;
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: 5px;
}

.comment-box{
	width:90%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.comment-box small{
	float:right;
}

.comment-header{
	background: var(--dark-color);
	color: var(--light-color);
	padding:2px;
	padding-bottom:12px;
	border:1px solid var(--dark-purple);
}

.cm-user{
	color: var(--light-color);
	padding-left:4px;
}

.comment-body{
	background: var(--light-color);
	padding-left: 5px;
	min-height:80px;
	border: 1px solid var(--dark-color);
	overflow-x: hidden;
	overflow-y: hidden;
}

.com-container{
	width:670px;
}

.comment-cm{
	word-wrap: break-word;
}

.profile-edit{
	background: var(--darkgray);
	color:var(--light-color);
	font-size: 12px;
	padding: 6.2px 15px;
}

.comment-body a:hover{
	background: var(--primary-color);
}

.comment-tn{
	height:60px;
	width:60px;
	border-radius: 50%;
	overflow:hidden;
	float:left;
}

.comment-tn img{
	max-width: 100%;
}

/* Comments Edit */
.modified{
	font-style:italic;
	text-align: right;
	margin-top: 30px;
	font-size: 10px;
}

.editcmt-form{
	background:var(--lightblue) ;
	color: var(--dark-color);
	width:50%;
	margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:10px 20px;
    border-radius: 8px;
    border: 1px solid var(--dark-color);
}

#cmt-val{
	width:90%;
	height:100px;
}

.editcmt-form input[type='submit']{
	width:20%;
	padding:10px 0;
	border:0;
	background:#222;
	color:#fff;
	cursor: pointer;
}

/* Pagination */
#pagination_controls{
	margin-bottom: 5px;
}
#pagination_controls a{
	color:var(--dark-color);
}

/* Chat */

.inbox-grid{
	display: grid; 
	grid-template-areas: 
	"right-inbox"
	"left-inbox";
	box-sizing: border-box;
}

.left-inbox{
	grid-area: left-inbox;
}

.inboxform-div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: var(--dark-color);
	width:85%;
	line-height: 2rem;
	color: var(--light-color);
    text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.inboxform-div input{
	width: 80%;
}

#sendmsg{
	font-family: verdana, sans-serif;
	height:30px;
	width:90%;
	margin:10px 0;
}

.right-inbox{
	grid-area: right-inbox;
	background: var(--light-color);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	border-left: 1px solid var(--darkgray);
	border-right: 1px solid var(--darkgray);
	padding: 20px 0 20px 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 450px;
	width: 85%;
	overflow-y: auto;
	box-sizing: border-box;
}

.inbox-box{
	width:95%;
	background: var(--gray);
	color: var(--dark-color);
	padding:5px;
	padding-left: 10px;
	border:1px solid var(--darkgray);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	min-height: 65px;
}

.inbox-new{
	width:95%;
	background: var(--primary-color);
	color: var(--dark-color);
	padding:5px;
	padding-left: 10px;
	border:1px solid var(--darkgray);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	min-height: 65px;
}

.chat-me{
	width:75%;
	background: var(--primary-color);
	color: var(--light-color);
	padding:5px;
	padding-left: 10px;
	border-radius: 20px;
	border:1px solid var(--dark-color);
	margin-bottom: 10px;
	min-height: 65px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.chat-notme{
	width:75%;
	background: var(--light-color);
	color: var(--dark-color);
	padding:5px;
	padding-left: 10px;
	border-radius: 20px;
	border:1px solid var(--dark-color);
	margin-bottom: 10px;
	min-height: 65px;
	margin-left: 22%;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.sender,.reply{
	color:var(--dark-color);
	text-decoration: underline;
}

.inbox-div{
	overflow-x: auto;
	background: var(--light-color);
	border-radius: 10px;
	border: 1px solid var(--darkgray);
	padding:5px;
}

.chat-div{
	overflow-x: auto;
	border-radius: 10px;
	padding:5px;
}

.new{
	color:red;
}

.inbxmsg{
	word-wrap: break-word;
	padding-left: 25px;
	font-family: verdana, sans-serif;
}

.inbox-date{
	float:right;
}

.closethis{
	float:right;
}

.closethis a{
	color:var(--darkgray);
	font-size: 30px;
}

.closethis a:hover{
	color:var(--secondary-contrast);
}

#chat-tab{
	position:fixed;
	z-index: 200;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 20px;
	background: var(--gray);
	border: 1px solid var(--dark-color);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	cursor: pointer;
	padding: 2px 10px;
}

#chat-modal{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

#chat-panel{
	display: none;
	position:fixed;
	z-index: 2000;
	right: 0;
	bottom: 25px;
	width: 250px;
	height: 75%;
	background: var(--gray);
	border: 1px solid var(--darkgray);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
	animation-name:modalopen;
	animation-duration: 350ms;
}

#chat-panel-body{
	height: 92%;
	overflow-y: auto;
}

#chat-panel-body a{
	font-size: 20px;
	color: var(--dark-color);
	padding-right: 20px;
}

.chat-panel-tn{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	overflow:hidden;
	float: left;
}

.chat-panel-tn img{
	max-width:100%;
}

#chat-bottom input{
	width: 90%;
	height: 30px;
}

/* Search */

.search-ul li{
	padding: 10px 4px;
	overflow:hidden;
}

.search-ul a{
	color: var(--dark-color);
}

.sch-tn{
	height:100px;
	width:100px;
	overflow:hidden;
	float:left;
	margin-right: 5px;
}

.sch-tn img{
	max-width:100%;
}

/* Admin */

#admin-tab{
	margin-top: 10px;
	text-align: center;
	padding: 15px;
	background: var(--secondary-contrast);
	border: 1px solid var(--darkgray);
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#admin-tab a{
	padding:1em 2em;
	border: 1px solid var(--darkgray);
	font-weight: bold;
	color: var(--light-color);
	cursor: pointer;
	display:inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 5px 0;
}

#admin-body{
	box-sizing: border-box;
	margin-top: 20px;
	border:1px solid var(--dark-color);
	border-radius: 8px;
	padding: 15px;
	min-height: 80vh;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}

#sendall-div{
	display: none;
}

#get-users-div{
	display: none;
	margin-left: auto;
	margin-right: auto;
	background: var(--darkgray);
	border: 1px solid var(--light-color);
	text-align: center;
	padding-bottom: 20px;
	width:60%;
	border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#get-users-div input{
	height:30px;
	width: 80%;
	border-radius: 5px;
}

#fetch{
	display: none;
	margin-left: auto;
	margin-right: auto;
	background: var(--darkgray);
	padding: 30px;
	width: 80%;
	line-height: 1.5em;
	height: 400px;
	border: 1px solid var(--light-color);
	border-radius: 8px;
	margin-bottom: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#fetch table{
	margin:0 auto;
}

#fetch table,#fetch th,#fetch tr{
	border: 1px solid var(--dark-color);
	border-collapse: collapse;
}

#fetch tr:nth-child(even){
	background: var(--darkgray);
}

#fetch tr:nth-child(odd){
	background: var(--light-color);
}

#fetch tr:first-child{
	height: 10px;
	background: var(--dark-color);
	color: var(--light-color);
}

#fetch th{
	padding: 5px 10px;
}

#fetch a{
	color: var(--dark-color);
	cursor: pointer;
}

.banned{
	color: red;
}

.notbanned{
	color: green;
}

#admin-reports{
	display: none;
	margin: 0 auto;
	text-align: center;
	width: 80vw;
	background: var(--darkgray);
	margin-bottom: 10px;
	border: 1px solid var(--light-color);
	border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.reportlist{
	padding: 10px;
}

.reportlist li{
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	background: var(--gray);
	border: 1px solid var(--darkgray);
	width: 80%;
	cursor: pointer;
}

.reportlist li a{
	color: var(--dark-color);
	font-weight: bold;
}

.newreport{
	float: right;
	color: var(--darkgray);
	margin-right: 5px;
}

.checkreport{
	float: right;
	color: var(--primary-color);
	margin-right: 5px;
}

#announcement-div{
	display: none;
}

#announce-content{
	width:80%;
	height:300px;
}

#monitoring{
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
	"pdf pdf"
	"leftmon rightmon"
	"empty rightmon";
}

.top-pdf{
	grid-area:pdf;
}

.get-pdf{
	padding:1em 2em;
	background: var(--primary-color);
	color: var(--light-color);
	border: 1px solid var(--darkgray);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 8px;
	display: block;
	margin: 0 auto;
	width: 150px;
}

.left-monitoring{
	grid-area:leftmon;
}

.monitoring-option{
	padding:1em 2em;
	border: 1px solid var(--darkgray);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 8px;
	width: 150px;
	cursor: pointer;
}

.empty{
	grid-area:empty;
}

.right-monitoring{
	grid-area:rightmon;
	padding: 5px;
	border: 1px solid var(--darkgray);
	border-radius: 8px;
	min-height: 80vh;
}

.right-monitoring h1{
	color: var(--primary-color);
}

#add-category,#set-price,#history{
	display: none;
}

#get-category{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background: var(--secondary-color);
	border: 1px solid var(--darkgray);
	text-align: center;
	padding-bottom: 20px;
	width:60%;
	border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#get-category input{
	height:30px;
	width: 80%;
	border-radius: 5px;
}

#fetch-category table{
	margin:0 auto;
}

#fetch-category table,#fetch-category th,#fetch-category tr{
	border: 1px solid var(--dark-color);
	border-collapse: collapse;
}

#fetch-category tr:nth-child(even){
	background: var(--darkgray);
}

#fetch-category tr:nth-child(odd){
	background: var(--light-color);
}

#fetch-category tr:first-child{
	height: 10px;
	background: var(--dark-color);
	color: var(--light-color);
}

#fetch-category th{
	padding: 5px 10px;
}

#fetch-category a{
	color: var(--dark-color);
	cursor: pointer;
}

.cathover{
	cursor: pointer;
}

#whitepaper{
	background: var(--light-color);
	border: 1px solid var(--dark-color);
	padding:10px;
}

.price-ul li{
	padding: 10px;
	line-height: 1.5em;
	border: 1px solid var(--dark-color);
	text-align: center;
}

.price-ul li input{
	width:100px;
	margin-right: 10px;
}

.price-input{
	display: inline-block;
}

.price-button{
	padding:1em 2em;
	background: var(--dark-color);
	color: var(--light-color);
}

#sales{
	display:grid;
	grid-template-areas: 
	"sales-left sales-body"
	"empty sales-body";
	grid-template-columns: 1fr 3fr;
}

#sales-left{
	grid-area: sales-left;
}

#sales-body{
	grid-area: sales-body;
	border: 1px solid var(--darkgray);
	border-radius: 8px;
	min-height: 80vh;
	padding: 5px;
}

/* Report User */

#modal4{
	display:none;
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background: var(--darkgray);
	opacity: 0.8;
}

#reportdiv{
	display:none;
	position:fixed;
	box-sizing: border-box;
	z-index:200;
	left:22%;
	top:10%;
	padding: 0 10px 20px 10px;
	background: var(--gray);
	border: 1px solid var(--dark-color);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	animation-name:modalopen;
	animation-duration: 1000ms;
}

#reportheader{
	width: 100%;
	height: 30px;
	padding: 5px;
}

#reportheader span{
	font-size: 18px;
	font-weight: bold;
}

#reportheader a{
	float:right;
	font-size: 25px;
}

#reportheader a:hover{
	color: var(--primary-color);
	cursor: pointer;
}

#reportbody{
	padding:10px;
	text-align: center;
	background: var(--lightblue);
	border: 1px solid var(--dark-color);
	border-radius: 5px;
}

#reportbody textarea{
	width: 300px;
	height: 120px;
}

#reportbody input[type='submit']{
	padding: 10px 20px;
	background: var(--dark-color);
	color: var(--light-color);
	cursor: pointer;
}

#progressBar{
	width:90%;
	margin:5px;
}

/* Product Page */

#low,#prev,#high{
	font-size: 15px;
	color: var(--dark-red);
	background: var(--light-color);
	font-family: "Courier New", Courier, monospace;
}

.add-product-button{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
	padding: 1em;
	width:150px;
	background: var(--dark-color);
	color: var(--light-color);
	margin:5px;
}

.star-system{
	color: var(--sunflower);
	padding:2px;
	border-radius: 8px;
	cursor: default;
	text-align: center;
	margin: 0 auto;
	font-size: 0.5em;
}

.product-grid{
	display:grid;
	grid-template-areas: 
	"right-product"
	"left-product";
	grid-template-columns: 1fr;
}

.product-main-left{
	display:grid;
	grid-template-areas:
	"product-image product-details"
	"reviews reviews";
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
	padding: 10px;
	grid-area: left-product;
	background: var(--light-color);
	border: 1px solid var(--darkgray);
	min-height: 100vh;
}

.product-image-wrap{
	grid-area: product-image;
	background: var(--secondary-contrast);
	padding-top: 15px;
	width: 100%;
	height: 500px;
	overflow: hidden;
	text-align: center;
}

.product-image-wrap img{
	max-width: 95%;
	max-height: 95%;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.product-main-content{
	grid-area: product-details;
	background: var(--canvas);
	padding: 10px;
}

.product-main-content .star-system{
	font-size: 1em;
	margin: 0;
	width:120px;
}

.product-main-content li{
	line-height: 1.5em;
}

.product-main-right{
	grid-area: right-product;
}

.my-products{
	text-align: center;
	background: var(--light-color);
	margin: 5px;
	padding: 5px;
	min-height: 100vh;
}

/* Review */
.product-reviews{
	grid-area: reviews;
}

#rate-this{
	grid-area: ratethis;
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	cursor: pointer;
	width: 250px;
	padding: 5px 0;
}

#reviews{
	min-height: 50vh;
}

#review-text{
	width: 95%;
	height: 100px;
	margin:auto;
}

.review-list{
	min-height: 200px;
	background: var(--canvas);
	margin-top: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	padding-bottom: 10px;
}

.review-header{
	padding: 10px;
	background: var(--dark-color);
	color: var(--light-color);
}

.review-tn{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}

.review-tn img{
	max-width: 100%;
}

.review-date{
	float:right;
}

.review-list p{
	line-height: 1.5em;
	margin-left: 10px;
}

.helpful{
	margin: 5px auto;
	background: var(--lightblue);
	color: var(--dark-blue);
	padding: 2px;
	width: 280px;
	text-align: center;
	cursor: pointer;
}

.find-this-helpful{
	margin: 5px auto;
	background: var(--lightblue);
	color: var(--dark-blue);
	padding: 2px;
	width: 400px;
	text-align: center;
	cursor: default;
	margin-bottom: 22px;
}

/* Shopping Cart */
.add-to-cart{
	z-index: 10;
	font-size: 0.8em;
	padding:1em 2em;
	display:block;
	width: 100px;
	margin: 10px auto;
	background: var(--lime);
	color: var(--light-color);
	text-align: center;
	cursor:pointer;
	border-radius: 8px;
	border: 1px solid var(--light-color);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.red-cart{
	z-index: 10;
	font-size: 0.8em;
	padding:1em 2em;
	display:block;
	width: 100px;
	margin: 10px auto;
	background: red;
	color: var(--light-color);
	text-align: center;
	cursor:pointer;
	border-radius: 8px;
	border: 1px solid var(--light-color);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.refresh-button{
	text-align: center;
	margin: 2px auto;
	cursor: pointer;
	width: 50px;
	font-size: 0.5em;
	padding: 0.5em;
	border-radius: 8px;
	background: var(--lime);
	color: var(--light-color);
}

.remove-button{
	float:right;
	cursor: pointer;
}

#cart-panel{
	display: none;
	position:fixed;
	z-index: 400;
	right:0;
	top: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background: var(--light-color);
	border: 1px solid var(--dark-color);
	color: var(--dark-color);
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	animation-name:modalopen;
	animation-duration: 350ms;
	transition-timing-function: ease-in;
}

#cart-panel h1{
	color: var(--light-color);
	background: var(--primary-color);
	font-family: verdana,sans-serif;
	padding: 5px 0;
	font-size: 1.2em;
}

#cart-panel ul{
	padding: 10px 0;
	margin: 0 8px;
}

#cart-panel li{
	border-bottom: 2px solid var(--darkgray);
	line-height: 1.2em;
	background: var(--light-color);
	padding: 5px 0;
}

.kg-input{
	width: 50px;
}

#top-total{
	display: inline-block;
	cursor: pointer;
}

/* Footer */
#main-footer{
	grid-area:footer;
	background:var(--dark-color);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	text-align: center;
	padding: 8px;
	color:var(--light-color);
	height: 60px;
}

/* About */

.content-box{
	margin:12px;
	background: var(--canvas);
	font-family: "Verdana", sans-serif;
	border: 1px solid var(--dark-color);
	padding: 5px;
	border-radius: 12px;
}

.content-box p{
	padding: 18px;
	line-height: 1.5em;
	font-size: 1.2em;
}


.blogpic1{
	width: 40%;
	height: auto;
	overflow: hidden;
	float: left;
	margin-right: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.blogpic1 img{
	max-width: 100%;
	max-height: 100%;
}

.blogpic2{
	width: 40%;
	height: auto;
	overflow: hidden;
	float: right;
	margin-right: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.blogpic2 img{
	max-width: 100%;
	max-height: 100%;
}

/* Footer */

#main-footer a{
	font-size: 20px;
	color: var(--sunflower);
	padding-left: 10px;
	padding-right: 10px;
}

/* Responsive */
@media(max-width: 1080px){
	#search-dropdown{
		top:125px;
	}
	
	.user-grid{
		display:block;
	}
	#main-search-panel{
		top: 230px;
		left: 200px;
	}
}

@media(max-width: 800px){
	#search-dropdown{
		top:170px;
		left:10px;
	}

	#browse-category{
		float:none;
		margin: 10px auto;
		width: 50%;
	}
	.main-container{
		padding:0;
	}

	.grid-header{
		display: block;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"title"
		"login";
		align-self: center;
	}

	.modal-content{
		width:60%;
	}
	.modal input[type='text'],.modal input[type='password']{
		width: 80%;
	}

	.main-nav ul li{
		display:block;
	}
	#main-header{
		height:auto;
		padding: 5px;
	}
	.main-content-grid{
		grid-template-columns: 1fr;
		grid-template-areas: 
		"announcement"
		"advertisement"
		"main"
		"sidebar2"
		"sidebar"
		"sidebar3";
		align-items:center;
	}

	.form form{
		width:80%;
	}
	.edit-form{
		padding:0;
		width:80%;
	}

	.com-container{
		width:500px;
	}

	.right-inbox{
		width:100%;
	}

	.inboxform-div{
		width:100%;
	}

	#get-users-div{
		width:80%;
	}

	#monitoring{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"pdf"
	"leftmon"
	"rightmon"
	"empty";
	}

	.monitoring-option{
	display: inline-block;
	width:20%;
	}


	.price-input{
		display: block;
	}

	#sales{
		grid-template-areas: 
		"sales-left" 
		"sales-body"
		"empty";
		grid-template-columns: 1fr;
	}
	#main-search-panel{
		top: 312px;
		left: 95px;
	}

	.product-main-left{
		display: block;
	}
}


@media(max-width: 568px){
	.main-container{
		display:grid;
		grid-template-areas:
		"subheader"
		"header"
		"main-search"
		"content"
		"footer";
	}
	.subheader{
		position:relative;
		grid-area:subheader;
	}

	#main-header{
		margin-top: 0;
	}

	#search-dropdown{
		top:230px;
		left:10px;
	}

	#notifbtn{
		margin-right: 16px;
	}

	.top-tn{
		display:none;
	}

	#notifdrop{
		width:auto;
		top:108px;
		left:15px;
	}
	.subgrid{
		display: block;
	}

	.modal-content{
		width:80%;
	}
	.modal input[type='text'],.modal input[type='password']{
		width: 100%;
		height: 45;
	}

	.other-content h1{
		float:none;
		text-align: center;
	}

	.content-box h2{
		padding-right: 0px;
		font-size: 22px;
	}

	.form form{
		width:100%;
	}

	.edit-form{
		width:100%;
	}

	.com-container{
		width:280px;
	}

	#get-users-div{
		width:95%;
	}
	#main-search-panel{
		top: 380px;
		left: 25px;
		width: 95%;
	}
}